body {
    background: #363636;
}
.container{
    max-width:800px;
	background: black;
	margin:0 auto;
}
.box{
	width:30%;
	padding-bottom: 30%;
	background-color:orange;
	margin:5px;
	border-radius:10px;
	float:left;
}